*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    /* Margin and Padding set to zero pixels elimates all the margins and paddings set defaultly for the block-level elements */
    /* It's better not to use font-size, color, background-color properties using Universal Selector as it will apply for the entire page and for every tag used in the HTML page! */
}